<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=axsasa;AccountKey=Ncua1mOIxHDbc2h6m64J0+wxuSF6ypvIyM6NmwVQ8nenzLs7j9UkK99+h4xApkXviaCHZzKcMdEEKOKB8WURfA==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>